.device-layout
  width: 452px
  height: 530px
  margin: 0 auto

  .device
    display: flex
    flex-direction: column
    width: 452px
    height: 430px
    margin-top: 100px
    border-radius: 12px
    box-shadow: 5px 10px 50px 10px rgba(0, 0, 0, 0.68)

    .header
      height: 30px
      width: 100%
      background-color: rgb(144, 147, 122)
      border-top-right-radius: 12px
      border-top-left-radius: 12px
      box-shadow: inset -1px -6px 12px 0.1px #89847e

    .screen
      height: 100px
      width: 100%
      background-color: rgb(40, 46, 37)
      border-bottom: 1px solid white


      .main-screen
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%
        height: 70%
        color: white
        font-size: 3em
        text-align: right
        margin-left: -10px
      .chaining
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%
        height: 30%
        color: rgb(162, 160, 160)
        font-size: 1.5em
        text-align: right
        margin-left: -10px

    .keys
      display: flex
      flex-direction: column
      height: 300px
      width: 100%
      background-color: rgb(255, 255, 255)
      border-bottom-right-radius: 12px
      border-bottom-left-radius: 12px
      .row-1, .row-2, .row-3, .row-4, .row-5
        height: 60px
        width: 100%
        border-bottom: 1px solid white
        button
          border: none
          outline: none

      .col-1, .col-2, .col-3
        display: inline-flex
        width: 113px
        height: 100%
        background-color: rgb(144, 137, 137)
        border-right: 1px solid white !important
      .col-4
        display: inline-flex
        width: 113px
        height: 100%
        color: white

      .col-1, .col-2, .col-3, .col-4
        justify-content: center
        align-items: center
        text-align: center
        box-shadow: inset -2px -2px 15px 3px #282625
        font-family: "Fira Sans"
        font-size: 1.2em
        cursor: pointer
        &:active
          box-shadow: inset -2px -1px 10px 1px #282625

      .row-1, .row-2, .row-3, .row-4, .row-5
        .col-4
          background-color: rgb(255, 153, 0)
          box-shadow: inset -2px -2px 15px 3px #282625
          &:active
            box-shadow: inset -2px -1px 10px 1px #282625

      .row-5
        border: none !important
        border-bottom-left-radius: 12px
        border-bottom-right-radius: 12px
      .row-5
        .col-1
          border-bottom-left-radius: 12px
          width: 226px
        .col-4
          border-bottom-right-radius: 12px
