$square-width: 190px
$square-height: 190px
.wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 450px
  height: 450px
  background: #282729
  border-radius: 100%
  box-shadow: 0 0 40px rgba(0,0,0,0.8), inset 0 0 30px #487a77
  .container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 420px
    height: 420px
    position: absolute
    .top-half
      display: flex
      width: 420px
      height: 210px
      .square-top-left
        width: $square-width
        height: $square-height
        background: #4db1d1
        border: 10px solid #282729
        border-top-left-radius: 100%
        &:active
          background: #00ffff
      .square-top-right
        width: $square-width
        height: $square-height
        background: #e9633f
        border: 10px solid #282729
        border-top-right-radius: 100%
        &:active
          background: #e01515
    .bottom-half
      display: flex
      width: 420px
      height: 210px
      .square-bottom-left
        width: $square-width
        height: $square-height
        background: #b9af30
        border: 10px solid #282729
        border-bottom-left-radius: 100%
        &:active
          background: #ffed0b
      .square-bottom-right
        width: $square-width
        height: $square-height
        background: #4da842
        border: 10px solid #282729
        border-bottom-right-radius: 100%
        &:active
          background: #1cff00

.center
  //display: none
  width: 220px
  height: 220px
  border-radius: 100%
  background: white
  position: absolute
  border: 12px solid #282729
