.wrapper
  .container
    .top-half
      .square-top-left.BLUE.colortabs(val = 'BLUE')
      .square-top-right.RED.colortabs(val = 'RED')
    .bottom-half
      .square-bottom-left.YELLOW.colortabs(val = 'YELLOW')
      .square-bottom-right.GREEN.colortabs(val = 'GREEN')
    .center
      .text Simon
      .screen-wrap
        .screen
          .count __
        .label COUNT
      .wrap
        .start-wrap
          .start
          .label START
        .strict-wrap
          .strict
          .label STRICT
      .onoff
        .left OFF
        .right ON
        .slider
