.wrapper
  .container
    .top-half
      .square-top-left
      .square-top-right
    .bottom-half
      .square-bottom-left
      .square-bottom-right
    .center
      .text Simon
      .screen-wrap
        .screen __
        .label COUNT
      .wrap
        .start-wrap
          .start
          .label START
        .strict-wrap
          .strict
          .label STRICT
      .onoff
        .left ON
        .right OFF
        .slider
