@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 450px;
  background: #282729;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8), inset 0 0 30px #487a77;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.8), inset 0 0 30px #487a77; }
  .wrapper .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 420px;
    height: 420px;
    position: absolute; }
    .wrapper .container .top-half {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 420px;
      height: 210px; }
      .wrapper .container .top-half .square-top-left {
        width: 190px;
        height: 190px;
        background: #4db1d1;
        border: 10px solid #282729;
        -webkit-border-top-left-radius: 100%;
                border-top-left-radius: 100%; }
        .wrapper .container .top-half .square-top-left:active {
          background: #00ffff; }
      .wrapper .container .top-half .square-top-right {
        width: 190px;
        height: 190px;
        background: #e9633f;
        border: 10px solid #282729;
        -webkit-border-top-right-radius: 100%;
                border-top-right-radius: 100%; }
        .wrapper .container .top-half .square-top-right:active {
          background: #e01515; }
    .wrapper .container .bottom-half {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 420px;
      height: 210px; }
      .wrapper .container .bottom-half .square-bottom-left {
        width: 190px;
        height: 190px;
        background: #b9af30;
        border: 10px solid #282729;
        -webkit-border-bottom-left-radius: 100%;
                border-bottom-left-radius: 100%; }
        .wrapper .container .bottom-half .square-bottom-left:active {
          background: #ffed0b; }
      .wrapper .container .bottom-half .square-bottom-right {
        width: 190px;
        height: 190px;
        background: #4da842;
        border: 10px solid #282729;
        -webkit-border-bottom-right-radius: 100%;
                border-bottom-right-radius: 100%; }
        .wrapper .container .bottom-half .square-bottom-right:active {
          background: #1cff00; }

.center {
  width: 220px;
  height: 220px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: white;
  position: absolute;
  border: 12px solid #282729; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(radial, 50% 50%, 300, 50% 50%, 1000, from(#487a77), to(#fff));
  padding: 0;
  margin: 0; }

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh; }
