@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 450px;
  background: #282729;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8), inset 0 0 30px #487a77;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.8), inset 0 0 30px #487a77; }
  .wrapper .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 420px;
    height: 420px;
    position: absolute; }
    .wrapper .container .color {
      cursor: pointer; }
    .wrapper .container .top-half {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 420px;
      height: 210px; }
      .wrapper .container .top-half .square-top-left {
        width: 190px;
        height: 190px;
        background: #00ffff;
        opacity: 0.6;
        border: 10px solid #282729;
        -webkit-border-top-left-radius: 100%;
                border-top-left-radius: 100%;
        -webkit-box-shadow: inset 0 0 40px black;
                box-shadow: inset 0 0 40px black; }
      .wrapper .container .top-half .square-top-right {
        width: 190px;
        height: 190px;
        background: #ff0000;
        opacity: 0.6;
        border: 10px solid #282729;
        -webkit-border-top-right-radius: 100%;
                border-top-right-radius: 100%;
        -webkit-box-shadow: inset 0 0 40px black;
                box-shadow: inset 0 0 40px black; }
    .wrapper .container .bottom-half {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 420px;
      height: 210px; }
      .wrapper .container .bottom-half .square-bottom-left {
        width: 190px;
        height: 190px;
        background: #faff00;
        opacity: 0.6;
        border: 10px solid #282729;
        -webkit-border-bottom-left-radius: 100%;
                border-bottom-left-radius: 100%;
        -webkit-box-shadow: inset 0 0 40px black;
                box-shadow: inset 0 0 40px black; }
      .wrapper .container .bottom-half .square-bottom-right {
        width: 190px;
        height: 190px;
        background: #1cff00;
        opacity: 0.6;
        border: 10px solid #282729;
        -webkit-border-bottom-right-radius: 100%;
                border-bottom-right-radius: 100%;
        -webkit-box-shadow: inset 0 0 40px black;
                box-shadow: inset 0 0 40px black; }

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 220px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: white;
  position: absolute;
  opacity: 1;
  border: 12px solid #282729;
  -webkit-box-shadow: inset 0 0 40px black;
          box-shadow: inset 0 0 40px black; }
  .center .text {
    font-size: 2em; }
  .center .label {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 5px;
    font-family: monospace; }
  .center .screen-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px; }
    .center .screen-wrap .screen {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50px;
      height: 50px;
      background: #012806;
      color: red;
      font-family: 'pt mono';
      border: 1px solid white;
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 6px #fff;
              box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 6px #fff; }
      .center .screen-wrap .screen .count {
        opacity: 0.4; }
      .center .screen-wrap .screen .count-on {
        opacity: 1 !important; }
  .center .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 150px;
    height: 50px;
    margin-top: 10px; }
    .center .wrap .start-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50px;
      height: 50px; }
      .center .wrap .start-wrap .start {
        width: 25px;
        height: 25px;
        background: rgba(207, 11, 5, 0.75);
        -webkit-border-radius: 100%;
                border-radius: 100%;
        cursor: pointer;
        pointer-events: none;
        border: 1px solid white;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }
    .center .wrap .strict-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 50px;
      height: 50px; }
      .center .wrap .strict-wrap .strict {
        width: 25px;
        height: 25px;
        background: rgba(0, 0, 0, 0.7);
        -webkit-border-radius: 100%;
                border-radius: 100%;
        cursor: pointer;
        pointer-events: none;
        border: 1px solid white;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }
  .center .onoff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 22px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 2px;
            border-radius: 2px;
    margin-top: 10px;
    font-size: 0.6em;
    color: white;
    position: relative;
    border: 1px solid white;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }
    .center .onoff .left {
      width: 50%;
      margin-left: 8px; }
    .center .onoff .right {
      width: 50%;
      margin-left: 5px; }
    .center .onoff .slider {
      width: 30px;
      height: 20px;
      background: rgba(207, 11, 5, 0.75);
      cursor: pointer;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      position: absolute;
      margin-left: -14px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7);
              box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7); }

.slider-on {
  background: rgba(84, 247, 7, 0.75) !important;
  -webkit-animation: slider-on linear forwards 100ms;
          animation: slider-on linear forwards 100ms; }

.start-game {
  background: #00ff40 !important;
  -webkit-box-shadow: 0 0 30px #00ff40, inset 0 0 15px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 0 30px #00ff40, inset 0 0 15px rgba(0, 0, 0, 0.5) !important; }

@-webkit-keyframes slider-on {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(28px);
            transform: translateX(28px); } }

@keyframes slider-on {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(28px);
            transform: translateX(28px); } }

@-webkit-keyframes animate-colortab {
  0% {
    opacity: 0.6; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }

@keyframes animate-colortab {
  0% {
    opacity: 0.6; }
  70% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }

.strict-on {
  border: 2px solid #fa422f !important;
  -webkit-box-shadow: 0 0 30px #ff1800, inset 0 0 20px rgba(0, 0, 0, 0.5) !important;
          box-shadow: 0 0 30px #ff1800, inset 0 0 20px rgba(0, 0, 0, 0.5) !important; }

.lightUp {
  opacity: 1 !important; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(radial, 50% 50%, 300, 50% 50%, 1000, from(#487a77), to(#fff));
  padding: 0;
  margin: 0; }

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2); }
